extends layout.pug 

block content 
    .all-blogs 
        h1.display-5 All blogs 

        each blog in blogs 
            .blog-wrapper 
                a.blog(href="/blogs/detail")= blog 
                .buttons
                    a.btn.btn-success.btn-sm#btn-open(href="/blogs/detail")  open 
                    a.delete.btn.btn-outline-danger.btn-sm(href="#") delete


