extends layout.pug 

block content 
    .container-create
        h1.display-5 Write your blog here.

        if (error)
            p.error Please enter valid input. Try again!

        if (success) 
            p.success Blog is published. Check it out!

        form.form(action="/create" method="POST")
            div.form-group
                label Blog Title 
                input.form-control(type="text" name="title")

            div.form-group
                label Blog Body 
                textarea.form-control.form-control-lg#exampleFormControlTextarea1(name="blogBody", type="text", rows=7) 

            button(type="submit" class="btn btn-primary mb-2") Save Blog 



