extends layout.pug 

block content 
    div.container.jumbotron.text-white.rounded.bg-dark
        h1.display-4.intro.font-italic Let's Blog. Your ideas are worth blogging!
        a(href="/create", class="btn btn-primary btn-lg create-btn") Create blog 
    
    p.font-italic.info This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service
