:root {
    font-size: 18px;
    
}

h1, h2, h3, p {
    font-family: "Playfair Display", Georgia, serif;
}
.container-create {
    padding: 50px;
    margin: 0 auto;
    max-width: 80%;
}

.blog-wrapper {
    max-width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px;
    margin: 20px 0px;
    border-bottom: 1px solid #ccc;
}

.blog {
    font-size: 1.3rem;
}

.delete {
    display: inline-block;
    margin-left: 15px;
    padding: 5px 10px;
    columns: #ccc;

}

#all-blogs {
    padding: 50px;
    width: 100%;
    display: inline-block;
    margin: 0 auto;
}

.create-btn {
    margin-top: 20px;
}

#btn-open {
    padding: 5px 20px;
}

.detail-container {
    margin: 0 auto;
    padding: 70px;
    max-width: 70%;
    padding: 55px;
}

.container {
    margin-top: 50px;
}


.blog-t-b {
    display: block;
    overflow: hidden;
    max-width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.title {
    display: block;
    font-size: 28px;
    overflow: hidden;
    max-width: 80%;
    color: black;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.body {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.buttons {
    margin-left: 20px;
    display: flex;
    flex-direction:row;
}

.error {
    display: inline-block;
    padding: 15px;
    color: red;
}

.success {
    display: inline-block;
    padding: 15px;
    color:green;
}

.detail-title {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 40px;
}
.detail-body {
    text-align: left;
    font-size: 24px;
    line-height: 45px;
    letter-spacing: 1px;
}

